<!DOCTYPE html>
<html>
  <head>
    <title>Khanakhajana</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<%= link_to "KhanaKhajana", "", class: "btn btn-lg btn-success", id: "logo" %>
			<div class="nav_item">
				<%= link_to "link1", "", class: "btn btn-default btn-warning" %> 
			</div>
			<div class="nav_item">
				<%= link_to "link1", "", class: "btn btn-default btn-warning" %> 
			</div>
			<div class="nav_item">
				<%= link_to "link1", "", class: "btn btn-default btn-warning" %> 
			</div>
		</div>
	</nav>
	<div class="container">
		<%= yield %>
		<div class="footer">
			<p>2016-2017 &copy; KhanaKhajana</p>
		</div>
	</div>
</body>
</html>
